/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
body {
  background-color: rgb(235, 213, 186);
}

.center {
  text-align: center;	
}

.class-inline {
  display: inline;
}

#time-ago {
  font-style: italic;
  font-size: 11px;
  padding-left: 14px;
}

#sign-in {
  text-align: right;
}

#comments {
  background-color: rgb(139, 93, 93);
  display: inline-block;
  width: auto;
}