/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */

body {
  background-color: #F4F4F4;
  font-family: helvetica;
  width: 80%;
  margin: 0px auto;
  padding: 30px;
  min-height: 800px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 2px 0px 2px #CCC, -2px 0px 2px #CCC;
}

a {
  text-decoration: none;
}

h1 a:visited {
  color: inherit;
}

h1{
  text-align: center;
  background-color: rgb(197, 197, 197);
  padding: 20px 0px;
  box-shadow: 0px 2px 2px #999;
  text-shadow: 0px 1px 1px #FFF, 0px -1px 1px #999;
  color: rgb(86, 86, 105);
  position: relative;
}

h1 img{
  position: absolute;
  right: 10px;
}

.link_class a{
  color: rgb(40, 76, 131);
  font-size: 1.4em;
}

.link_class{
  background-color: rgb(219, 219, 219);
  padding: 5px 5px;
  border-bottom: 1px solid #AAA;
}

.center {
  text-align: center;	
}

.class-inline {
  display: inline;
}

#time-ago {
  font-style: italic;
  font-size: 11px;
  padding-left: 14px;
  color: rgb(141, 141, 141);
}

#sign-in {
  text-align: right;
}

#sign_in {
  display: block;
  text-align: center;
}

.comment {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #AAA;
  margin-bottom: 10px;
}


.post_text {
  line-height: 1.6em;
  color: #333;
  padding-top: 20px;
}

.new_button {
  border: 1px solid #2358B6;
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  background-color: rgb(34, 94, 170);
}

.menu_item {
  padding: 2px 5px;
  color: white;
  font-size: 0.8em;
  border-radius: 4px;
}

.menu_bar {
  background-color: rgb(72, 86, 112);
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
}



select {
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 1px solid black;
   border-radius: 0;
   height: 34px;
   }